h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
}

#container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}

#box {
  height: 480px;
  width: 480px;
  border: 1px solid black;
}

#button {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
  padding: 10px;
}


button {
  background-color: #fff;
  border: 1px solid #000;
  text-color: rgb(179, 179, 179);
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

button:hover {
  background-color: #fff;
  border: 1px solid #000;
  text-color: rgb(179, 179, 179);
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
 transform: translate3d(0, 0, 0);
 backface-visibility: hidden;
 perspective: 1000px;
}

button:active {
  background-color: #fff;
  border: 1px solid #000;
  text-color: rgb(179, 179, 179);
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  transform: translateY(4px);
}

button:focus {
  outline: 0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
